html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Fira Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}

h1 {
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

a {
  font-size: 16px;
  letter-spacing: 1px;
}

html {
  background-color: #ffd18c;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #fff4e5;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
}

img {
  display: block;
  margin: 0 auto;
  width: 450px;
}